*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, sans-serif;
}

* ul{
    list-style: none;
}

* a{
    text-decoration: none;
    color: #000;
}

.text-align-center{
    text-align: center;
}

#root {
    
    display: grid;
    grid-template-rows: 8vh 10vh minmax(40vh, auto) auto 8vh;
    grid-template-columns: 1fr minmax(600px, 3fr);
    background: #e6f1f6 url(/images/allcontainer_bg.png) repeat top left;
}

.footer{
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    background-color: #343a40!important;
}

.footer p{
    display: inline;
    color: white;
}

.searchSection{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}

.bomSection{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.weather-section{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.mainSection{
    grid-row: 2 / 5;
    grid-column: 2 / 3;
}

.flex-container{
    display: flex;
}

.justify-space-around{
    justify-content: space-around;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    grid-column: 1 / 3;    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #343a40!important;  
    z-index: 99; 
}

.nav-bar a{
    color: white;
}

.nav-bar-links{
    margin: 0 5px;
    align-self: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:35px;
    right:0px;
    width: 150px;
    background-color: white;
    font-weight:bold;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown ul li a {
    color: #000;
    text-decoration: none;
}
.dropdown ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
.dropdown ul li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
.dropdown-button{
    background-color: transparent ;
    margin: 0 2px;
    color:white;
    cursor: pointer;
}
.drop-down button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

.logo{
    position: absolute;
    padding-top: 10px;
}

.welcome-message, .auth{
    font-size: 80%;
    text-align: center;
    padding-bottom: 5px;
    color: white;
}

.side-container{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: #555555 solid 2px;
}

.weather-form{
    align-items: center;
    justify-content: space-around;
}

.weather-table{
    border: none;
    width: 80%;
    font-size: 80%; 
    padding: 5px;
    margin: auto;
}

.weather-info{
    font-weight: bold;
    width: 80%;
    padding: 5px;
    margin: auto;
}

.search-form {
    margin: 15px;
}

.search-input{
    border: none;
    text-align: center;
    height: 36px;
    width: 90%;
    background: url(/images/new_search_bg.png) no-repeat top left;
    outline: none;
}

.search-button{
    border:none;
    height: 3px;
    outline: none;
}

.button-hidden{
    visibility: hidden;
    border:none;
    height: 32px;    
    width: 32px;
    outline: none;
    border-radius: 5px;
    margin: 1px;
}

.set-city{   
    color: #FF6600;
    background: #555555;
    border:none;
    height: 32px;    
    width: 32px;
    outline: none;
    border-radius: 5px;
    margin: 1px;
}

.description{
    font-size: 80%;
}

.temp{
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
}

.location{
    margin: auto;
    text-align: center;
    padding: 2px;
}

.products-list{
    margin: 20px;
    background: #FFF;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.banner{
    max-width: 100%;
    height: auto;
}

.product-list-table tr img{
    max-width: 50px;
    height: auto; 
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.product-list-table td{
    border-bottom: 1px solid #555555;
    text-align: center;
    font: bold 12px Arial;
    padding: 0 10px;
}

.part-info{
    width: 720px;
}

.part-info h2{
    font: bold 12px Arial;
    color: #3399CC;
}

.table-heading{    
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #222;
    margin: 0 0 20px 0;
}


.BOM-list-table td{
    border-top: 1px solid #555555;
    margin: 0;
    padding: 0;    
    outline: 0;
    font-size: 100%;
    text-align: center;
    vertical-align: baseline;
    background: transparent;
    font-size: 13px;
}

.page-number{
    justify-content: flex-end;
}

.page-number a {
    width: 32px;
    height: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    background: transparent;
    font: bold 11px Arial;
    border-right: 1px solid #555555
}

.active{
    color: #f2310a;
}

.page-button {
    padding: 0;
    width: 49px;
    height: 25px;
    border: none;
    outline: none;
}

.page-buttons-prev-active{
    background: url(/images/pag_prev.png) no-repeat top left;
    color: #555555;
}

.page-buttons-prev-not-active{    
    background: url(/images/pag_prev.png) no-repeat bottom left;
}

.page-buttons-next-active{
    background: url(/images/pag_next.png) no-repeat top left;
    color: #555555;
}

.page-buttons-next-not-active{    
    background: url(/images/pag_next.png) no-repeat bottom left;
}
pag_next.png
.product-details{    
    margin-top: 10px;        
}
.product-details span{
    font-weight: normal; 
}

.details{
    flex-wrap: wrap;
}

.form{
    margin:50px auto;
    padding: 10px;
    width: 80%;  
    background-color: rgba(230, 241, 246, 0.4);
    border: 1px solid transparent;
    border-radius: 5px; 
    box-shadow: 0 0 50px rgba(0,0,0,0.5); 
}

.form h1 {
    margin: 10px;
}

.submitButton{
    width: 100px;
    background-color: #31B5EE;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 1rem;    
    color: #fff;
    cursor: pointer;
}

.submitButton:hover{
    background: #FC7C0B;
    color: #0F0E0E;
}

.submit-button-inactive{
    width: 100px;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 1rem;    
    color: #fff;
    cursor: pointer;
}

 .inputs{
    border: 1px solid #B9BEC0;
    border-radius: 3px;
    margin: 0.2rem 0;
    padding: 0.5rem;
    width: 100%;
 }

 .is-invalid {    
    background-color: #dc3545;
    opacity: 0.5;
} 

.valid-feedback{
    margin-top: .25rem;
    font-size: 80%;
    color: #2f0fe6;
}

.invalid-feedback{
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.price-container{
    text-align: right;
}

.delete-button{
    background: none;
}

.qty{
    margin: auto;
    height: 20px;
    width: 20px;
}

.delete-from-BOM{
    border: none;
    width: 20px;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.main-page{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    margin: 15px;
    padding: 5px;
    text-align: justify;
    border-radius: 5px;
}

.clock-img{
    max-width: 40%;
    height: auto;
    float: right;
    margin: 8px;
}

@media screen and (max-width: 760px){

  #root {
      display: block;
}
}